/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* Cloud Icon im Namen */
.name {
   position: relative;
   display: inline-block;
}

.i-container {
   position: relative;
   display: inline-block;
}

.cloud-icon {
   position: absolute;
   top: 50%; /* Wolke vertikal mittig im i-container platzieren */
   left: 50%;
   transform: translate(-50%, -82%); /* Zentrieren und leicht nach oben verschieben */
   font-size: 0.3em; /* Wolkengröße */
   color: #ffffff;
}

/* Media Query für kleine Bildschirme */
@media (max-width: 600px) {
   .cloud-icon {
       font-size: 0.3em; /* Wolkengröße leicht anpassen für Mobilgeräte */
       transform: translate(-50%, -84%); /* Positionierung für kleinere Bildschirme leicht anpassen */
   }
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #00A4EF; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #00A4EF; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #00A4EF; }


/*------------------------------------------------------------------------------------------------------------------*/
/* c. About Section
/*------------------------------------------------------------------------------------------------------------------*/

#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #00A4EF; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #ffffff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 200px;
   height: 200px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}

/*------------------------------------------------------------------------------------------------------------------*/
/* d. Resume Section
/*------------------------------------------------------------------------------------------------------------------*/

/* Hauptcontainer für den Lebenslauf */
#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume a, #resume a:visited  { color: #00A4EF; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {
   padding-bottom: 6px;
}
#resume h3 {
   font: 18px/24px 'opensans-bold', sans-serif;
}

/* Allgemeine Einstellungen für Überschriften */
.header-col h1 {
   margin: 0;
   padding: 0;
}

/* Certifications Section */
.certifications-section {
   max-width: 800px;
   margin: 0 auto 30px auto;
   padding: 0 15px;
   text-align: left; /* Standardmäßig linksbündig für große Bildschirme */
}

/* Zertifizierungs-Einträge für große Bildschirme */
.certification-item {
   display: flex;
   align-items: center;
   text-align: left;
   margin-bottom: 20px;
}

.cert-logo {
   width: 40px;
   height: auto;
   margin-right: 10px;
}

.text-container h3 {
   font-size: 18px;
   color: #333;
   margin: 0;
   line-height: 1.5;
}

/* Responsive Anpassungen für Bildschirme bis 768px */
@media (max-width: 768px) {
   /* Zentriert den gesamten Abschnitt auf kleinen Bildschirmen */
   .certifications-section {
       text-align: center; /* Zentriert die gesamte Sektion */
   }

   /* Zertifizierungs-Einträge werden vertikal zentriert dargestellt */
   .certification-item {
       flex-direction: column;
       align-items: center;
       text-align: center;
   }

   /* Entfernt das rechte Margin und fügt Abstand unter dem Logo hinzu */
   .cert-logo {
       margin-right: 0;
       margin-bottom: 10px;
   }

   /* Verkleinert die Schriftgröße der Zertifizierungstitel auf kleinen Bildschirmen */
   .text-container h3 {
       font-size: 1em;
   }
}


/* Work Experience Abschnitt --------------------------------------------------------------------------------------------- */
.work-experience-section {
   max-width: 800px; /* Begrenzung der maximalen Breite */
   margin: 0 auto 30px auto; /* Zentriert den Abschnitt und fügt Abstand nach unten hinzu */
   padding: 0 15px; /* Padding für kleine Bildschirme hinzufügen */
}

/* Header für Linksbündige Ausrichtung und Linie */
.work-experience-section .header-col {
   text-align: left; /* Linksbündig ausgerichtete Überschrift */
   margin-bottom: 10px;
}

.work-experience-section .header-col h1::after {
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   background-color: #E8E8E8;
   margin-top: 10px;
}

/* Arbeitseinträge */
.work-item {
   margin-bottom: 20px; /* Mehr Abstand zwischen Arbeitseinträgen */
   display: flex;
   align-items: flex-start;
}

.work-logo {
   width: 40px;
   height: auto;
   margin-right: 10px;
   vertical-align: middle;
}

.text-container {
   flex: 1; /* Nimmt den restlichen Platz ein */
}

.work-item h3 {
   display: flex;
   flex-direction: row; /* Standardmäßig in einer Zeile */
   align-items: center; /* Richtet das Logo und die Überschrift auf einer Höhe aus */
   font-size: 18px;
   margin: 0 0 5px 0;
   color: #333;
   flex-wrap: wrap; /* Umbrüche auf kleineren Bildschirmen zulassen */
}

.work-item .info {
   font-size: 0.9em;
   color: #6E7881;
   margin-top: 3px;
   margin-bottom: 3px;
}

/* Liste und Bullet Points */
.work-item ul {
   margin-top: 5px;
   padding-left: 30px; /* Größerer Einzug für die gesamte Liste */
   list-style-type: disc;
}

.work-item ul li {
   margin-bottom: 3px;
   font-size: 0.9em;
   color: #333;
   padding-left: 10px; /* Leichter Abstand zwischen Bullet und Text */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
   .work-experience-section {
       max-width: 100%;
   }

   /* Überschriften umbrechen */
   .work-item h3 {
       font-size: 1em;
       flex-direction: column; /* Logo und Titel untereinander anordnen */
       text-align: center;
       gap: 5px; /* Leichter Abstand zwischen Logo und Text */
   }

   /* Logo mittig und mit weniger Margin */
   .work-logo {
       margin-right: 0;
       margin-bottom: 5px;
   }

   /* Text und Liste anpassen */
   .work-item .info, .work-item ul li {
       font-size: 0.85em;
   }

   /* Einzug für die Liste auf kleinen Bildschirmen */
   .work-item ul {
       padding-left: 20px; /* Weniger Einzug für kleinere Bildschirme */
   }
}

@media (max-width: 480px) {
   .work-item h3 {
       font-size: 0.9em;
   }

   .work-logo {
       width: 30px; /* Logo kleiner für sehr kleine Bildschirme */
   }

   .work-item .info, .work-item ul li {
       font-size: 0.8em; /* Noch kleinere Schriftgröße für sehr kleine Bildschirme */
   }

   /* Zusätzlicher Einzug für die Liste auf sehr kleinen Bildschirmen */
   .work-item ul {
       padding-left: 25px; /* Noch etwas mehr Einzug, um Randabstand zu erhöhen */
   }
}

/* Education Abschnitt ---------------------------------------------------------------------------------------------*/
.education-section {
   max-width: 800px; /* Begrenzung der maximalen Breite auf 800px */
   margin: 0 auto 30px auto; /* Zentriert den Abschnitt und fügt Abstand nach unten hinzu */
   padding: 0 15px; /* Padding für kleine Bildschirme hinzufügen */
}

/* Header für Linksbündige Ausrichtung und Linie */
.education-section .header-col {
   text-align: left; /* Linksbündige Ausrichtung der Überschrift */
   margin-bottom: 10px;
}

.education-section .header-col h1::after {
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   background-color: #E8E8E8;
   margin-top: 10px;
}

/* Education-Einträge */
.education-item {
   margin-bottom: 20px; /* Etwas mehr Abstand zwischen Einträgen */
}

/* Logo- und Titel-Layout */
.education-item h3 {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 1.2em;
   margin: 0;
   flex-wrap: wrap;
}

.education-logo {
   width: 40px;
   height: auto;
   margin-right: 10px;
   vertical-align: middle;
}

.education-item .info {
   font-size: 0.9em;
   color: #6E7881;
   margin-top: 3px;
   margin-bottom: 3px;
}

/* Liste und Bullet Points */
.education-item ul {
   margin-top: 5px;
   padding-left: 30px; /* Größerer Einzug für die gesamte Liste */
   list-style-type: disc;
}

.education-item ul li {
   margin-bottom: 3px;
   font-size: 0.9em;
   color: #333;
   padding-left: 10px; /* Leichter Abstand zwischen Bullet und Text */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
   .education-section {
       max-width: 100%;
   }

   /* Überschriften umbrechen */
   .education-item h3 {
       font-size: 1em;
       flex-direction: column; /* Logo und Titel untereinander anordnen */
       text-align: center;
       gap: 5px; /* Leichter Abstand zwischen Logo und Text */
   }

   /* Logo mittig und mit weniger Margin */
   .education-logo {
       margin-right: 0;
       margin-bottom: 5px;
   }

   /* Text und Liste anpassen */
   .education-item .info, .education-item ul li {
       font-size: 0.85em;
   }

   /* Einzug für die Liste auf kleinen Bildschirmen */
   .education-item ul {
       padding-left: 20px; /* Weniger Einzug für kleinere Bildschirme */
   }
}

@media (max-width: 480px) {
   .education-item h3 {
       font-size: 0.9em;
   }

   .education-logo {
       width: 30px;
   }

   .education-item .info, .education-item ul li {
       font-size: 0.8em;
   }

   /* Zusätzlicher Einzug für die Liste auf sehr kleinen Bildschirmen */
   .education-item ul {
       padding-left: 25px; /* Noch etwas mehr Einzug, um Randabstand zu erhöhen */
   }
}


/* IT Skills Abschnitt --------------------------------------------------------------------------------------------- */
.it-skills-section {
    max-width: 800px; /* Begrenzung der maximalen Breite */
    margin: 0 auto 30px auto; /* Zentriert den Abschnitt und fügt Abstand nach unten hinzu */
    padding: 0 15px; /* Padding für kleine Bildschirme hinzufügen */
}

/* Header für Zentrierung und Linie */
.header-col {
    text-align: left;
    margin-bottom: 10px;
}

.header-col h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-top: 10px;
}

/* IT Skills-Kategorien */
.skill-category {
    margin-bottom: 20px; /* Mehr Abstand zwischen Kategorien */
}

.text-container {
    padding-left: 0; /* Entfernt zusätzliches Padding */
}

.skill-category h3 {
    font-size: 1.2em;
    margin: 0 0 5px 0; /* Verringert den Abstand unter der Überschrift */
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; /* Umbruch auf kleinen Bildschirmen zulassen */
}

/* Liste und Bullet Points */
.skill-category ul {
    margin-top: 5px;
    padding-left: 30px; /* Größerer Einzug für die gesamte Liste */
    list-style-type: disc;
}

.skill-category ul li {
    margin-bottom: 3px;
    font-size: 0.9em;
    color: #333;
    padding-left: 10px; /* Leichter Abstand zwischen Bullet und Text */
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .it-skills-section {
        max-width: 100%;
    }

    /* Überschriften umbrechen */
    .skill-category h3 {
        font-size: 1em;
        flex-direction: column; /* Titel untereinander anzeigen */
        text-align: center;
        gap: 5px; /* Leichter Abstand zwischen Elementen im Titel */
    }

    /* Text und Liste anpassen */
    .skill-category ul {
        padding-left: 20px; /* Weniger Einzug für kleinere Bildschirme */
    }

    .skill-category ul li {
        font-size: 0.85em;
    }
}

@media (max-width: 480px) {
    .skill-category h3 {
        font-size: 0.9em;
    }

    .skill-category ul {
        padding-left: 25px; /* Noch etwas mehr Einzug für sehr kleine Bildschirme */
    }

    .skill-category ul li {
        font-size: 0.8em; /* Noch kleinere Schriftgröße für sehr kleine Bildschirme */
    }
}


/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

.dot {
   display: inline-block;
   width: 5px;
   height: 5px;
   background-color: #333;
   border-radius: 50%; /* Macht den Punkt rund */
   margin: 0 5px; /* Abstand links und rechts */
}